/* HEADER */

.Rectangle1{
    width: 1920px;
	height: 44px;
	background: #020202;
    margin: -8px 0px 0px -8px;
    display: flex;
}

.Rect1Text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #A2A6B0;
    margin: -2px 0px 0px 258px;
    /*letter-spacing: 1px;*/
}

.Rect1Time{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFF;
    margin: 0px 0px 0px 6px;
}

.v{
    display: flex;
    margin: 3px 0px 0px 5px;
}
.Addr{
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
padding: 0px 0px 0px 293px;
margin-top: -3px;
color: #ACACAC;
}

.contbtn{
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
padding-left:6px;
color: #FFF;

}

.line{
    padding: 8px 0px 0px 0px;
    margin: 0px 0px 0px -1px;
    width: 20px;
    height: 10px;
    position: absolute;
}

.callus{
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
/* identical to box height */
margin: 4px 0px 0px 284px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}

.facebook{
    padding: 4px 0px 0px 15px;
    align-items: center;
text-align: center;
}

.instagram{
    padding: 4px 0px 0px 10px;
    align-items: center;
    text-align: center;
}

/* HEADER 2 */

.Rectangle24{
    width: 1920px;
    height: 92px;
    background: #fff;
    margin: 0px 0px 0px -8px;
    display: flex;
}

.bb{
    display: flex;
    padding: 10px 0px 0px 280px;
    width: 85px;
    height: 69px;
}

.tuple{
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 3px 0px 0px 60px;
}
.tuple2{
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 29px;
}
.tuple3{
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 25px;
}
.tuple4{
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 26px;
}
.tuple5{
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 26px;
}
.tuple6{
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 28px;
}
.tuple7{
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 26px;
}
.OurDeals{
display: flex;
align-items: center;
text-align: center;
padding: 6px 24px 6px 24px;
margin: -2px 0px 0px 25px;
border: 2px solid #0156FF;
color: #0156FF;
border-radius: 50px;

font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
}
.seacrh{
    position: absolute;
    display: flex;
    padding: 6px 0px 0px 268px;
    align-items: center;
    text-align: center;
}
.shop{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 25px;
    margin-top: -8px;
}
.acc{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 4px 0px 0px 28px;

}

/* PICTURE 3 */

.line2{
    height: 1px;
    width: 1920px;
    background: #CACDD8;
    margin: -0px 0px 0px -8px;
}

.page3{
    position: absolute;
    width: 1398px;
    height: 328px;
    left: 262px;
    top: 136px;
    display: flex;
    margin: 0px 0px 0px 1px;
}

.Rect16{
    display: flex;
    margin: -2px 0px 0px -1398px;
}

.v2{
    display: flex;
    margin: 158px 0px 0px -25px;
    width: 8px;
    height: 14px;
}

.Rect16_2{
    width:36px;
    height:48px;
    display: flex;
    margin: -16px 0px 0px 1343px;
}

.v3{
    display: flex;
    margin: 17px 0px 0px -19px;
    width: 8px;
    height: 14px;
}