/* HEADER */

.Rectangle1{
    width: 1920px;
	height: 44px;
	background: #020202;
    margin: -8px 0px 0px -8px;
    display: flex;
}

.Rect1Text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #A2A6B0;
    margin: -2px 0px 0px 258px;
    /*letter-spacing: 1px;*/
}

.Rect1Time{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFF;
    margin: 0px 0px 0px 6px;
}

.v{
    display: flex;
    margin: 3px 0px 0px 5px;
}
.Addr{
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
padding: 0px 0px 0px 293px;
margin-top: -3px;
color: #ACACAC;
}

.contbtn{
    font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
padding-left:6px;
color: #FFF;

}

.line{
    padding: 8px 0px 0px 0px;
    margin: 0px 0px 0px -1px;
    width: 20px;
    height: 10px;
    position: absolute;
}

.callus{
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
/* identical to box height */
margin: 4px 0px 0px 284px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}

.facebook{
    padding: 4px 0px 0px 15px;
    align-items: center;
text-align: center;
}

.instagram{
    padding: 4px 0px 0px 10px;
    align-items: center;
    text-align: center;
}

/* HEADER 2 */

.Rectangle24{
    width: 1920px;
    height: 92px;
    background: #fff;
    margin: 0px 0px 0px -8px;
    display: flex;
}

.bb{
    display: flex;
    padding: 10px 0px 0px 280px;
    width: 85px;
    height: 69px;
}

.tuple{
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 3px 0px 0px 60px;
}
.tuple2{
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 29px;
}
.tuple3{
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 25px;
}
.tuple4{
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 26px;
}
.tuple5{
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 26px;
}
.tuple6{
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 28px;
}
.tuple7{
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 26px;
}
.OurDeals{
display: flex;
align-items: center;
text-align: center;
padding: 6px 24px 6px 24px;
margin: -2px 0px 0px 25px;
border: 2px solid #0156FF;
color: #0156FF;
border-radius: 50px;

font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
}
.seacrh{
    position: absolute;
    display: flex;
    padding: 6px 0px 0px 268px;
    align-items: center;
    text-align: center;
}
.shop{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 25px;
    margin-top: -8px;
}
.acc{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 4px 0px 0px 28px;

}

/* PICTURE 3 */

.line2{
    height: 1px;
    width: 1920px;
    background: #CACDD8;
    margin: -0px 0px 0px -8px;
}

.page3{
    position: absolute;
    width: 1398px;
    height: 328px;
    left: 262px;
    top: 136px;
    display: flex;
    margin: 0px 0px 0px 0px;
}

.Rect16{
    display: flex;
    margin: -2px 0px 0px -1398px;
}

.v2{
    display: flex;
    margin: 158px 0px 0px -25px;
    width: 8px;
    height: 14px;
}

.Rect16_2{
    width:36px;
    height:48px;
    display: flex;
    margin: -16px 0px 0px 1343px;
}

.v3{
    
    margin: 15px 0px 0px -19px;
    width: 8px;
    height: 14px;
}

/* PAGE 4 */

.page4{
    white-space: nowrap;
    position: absolute;
width: 232px;
height: 22px;
left: 1427px;
top: 509px;
margin: 0px 0px 0px 0px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 115%;
/* or 15px */

display: flex;
align-items: center;
text-align: right;

/* Color - 3 */

color: #0156FF;
width: 154px;
height: 33px;
left: 261px;
top: 501px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 33px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.all{
    position: absolute;
width: 232px;
height: 22px;
left: 1427px;
top: 509px;
margin: -501px 0px 0px -164px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 115%;
/* or 15px */

display: flex;
align-items: center;
text-align: right;
text-decoration-line: underline;

/* Color - 3 */

color: #0156FF;
}

/* tech1 */

.tech1{
    display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: absolute;
width: 234px;
height: 346px;
left: 262px;
top: 548px;

}

.twov{
    display: flex;
    position: absolute;
    padding: 135px 0px 0px 1164px;
}

.StockAv{
    display: flex;
    position: absolute;
    width: 58px;
    height: 12px;
    margin: -128px 0px 0px 32px;
}

.ProdPic{
    display: flex;
    position: absolute;
    margin: 19px 0px 0px 10px;
}

.starsfull{
    display: flex;
    position: absolute;
    margin: 160px 0px 0px -18px;
}

.Reviews{
    display: flex;
    position: absolute;
    margin: -78px 0px 0px 83px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 210%;
    /* or 25px */
    color: #A2A6B0;
    display: flex;
    align-items: center;
    text-align: center;
    white-space: nowrap;
}


  
.name1{
    display: flex;
    margin: 103px 0px 0px -152px;
    width: 185px;
    height: 65px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    color: #000000;

}
.name2{
    display: flex;
    margin: 20px 0px 0px -140px;
    width: 185px;
    height: 65px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    color: #000000;

}
.name3{
    display: flex;
    margin: 20px 0px 0px -184px;
    width: 185px;
    height: 65px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    color: #000000;

}
.-price-{
    display: flex;
    color: #666666;
    margin: 34px 0px 0px -67px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}

.price{
    display: flex;
    margin: 21px 0px 0px -56px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
}

/* tech2 */

.tech2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 234px;
    height: 346px;
    left: 422px;
    top: 681px;
    
    
}

/* tech3 */

.tech3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 234px;
    height: 346px;
    left: 655px;
    top: 680px;
}

/* tech4 */

.tech4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 234px;
    height: 346px;
    left: 887px;
    top: 680px;
    
}

/* tech5 */

.tech5{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 234px;
    height: 346px;
    left: 1120px;
    top: 680px;
    
}

/* tech6 */

.tech6{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 234px;
    height: 346px;
    left: 1353px;
    top: 680px;
    
}