/* HEADER */

.Rectangle1{
    width: 1920px;
	height: 44px;
	background: #020202;
    margin: -8px 0px 0px -8px;
    display: flex;
}

.Rect1Text{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #A2A6B0;
    padding: 0px 0px 0px 259px;
    /*letter-spacing: 1px;*/
}

.Rect1Time{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFF;
    padding-left: 13px;
}

.Addr{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
padding-left:320px;
color: #ACACAC;
}

.contbtn{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;
text-align: center;
padding-left:55px;
color: #FFF;
}

.callus{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 18px;
/* identical to box height */
padding-left:293px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}

.facebook{
    padding: 6px 0px 0px 33px;
}

.instagram{
    padding: 6px 0px 0px 10px;
}

/* HEADER 2 */

.Rectangle24{
    width: 1920px;
    height: 92px;
    background: #fff;
    margin: 0px 0px 0px -8px;
    display: flex;
}

.bb{
    display: flex;
    padding: 10px 0px 0px 280px;
    width: 85px;
    height: 69px;
}

.tuple{
    white-space: nowrap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 3px 0px 0px 60px;
}
.tuple2{
    white-space: nowrap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 37px;
}
.tuple3{
    white-space: nowrap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 37px;
}
.tuple4{
    white-space: nowrap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 47px;
}
.tuple5{
    white-space: nowrap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 42px;
}
.tuple6{
    white-space: nowrap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 35px;
}
.tuple7{
    white-space: nowrap;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 38px;
}
.OurDeals{
display: flex;
align-items: center;
text-align: center;
padding: 6px 26px 6px 26px;
margin: 0px 0px 0px 33px;
border: 2px solid #0156FF;
color: #0156FF;
border-radius: 50px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 21px;
}
.seacrh{
    position: absolute;
    display: flex;
    padding: 4px 0px 0px 266px;
    align-items: center;
    text-align: center;
}
.shop{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 0px 0px 25px;
    margin-top: -8px;
}
.acc{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 4px 0px 0px 28px;

}